@media screen and (max-width: 700px) {
    section, nav {   
        flex-direction: column;
    }
}
aside{
	background-color: #f1f1f1;
	flex: 30%;
	padding:20px 20px 20px 20px; 
}
header{
	background-image: url(images/header-bg-space.jpg) ;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-origin: padding-box;
	color: white;
	text-align: center;
	padding: 30px 20px 14px 14px;
	border: 0;
	font-size: 48px;
	font-family: DejaVu Sans Mono, monospace;
}	
footer{
	background-color: #ddd;
	background-image: url(images/footer-bg.png);
	text-align: center;
	padding: 30px 50px 14px 14px;
	background-size: 100% 200px; 
}
nav{
	display: flex;
	background-color: #6407de;
	justify-content: center;
	flex-direction: row;
}
a{
	color: white;
	padding: 20px 5% 20px 5%;
	text-align: center;
	text-decoration: none;
	display: flex;
}
a:hover{
	background-color: #ddd;
	color: black;

}
section{
	display: flex;
	flex-wrap: no-wrap;

}
body
{
	background-image: url(images/header-bg.png);
	background-repeat: repeat;
	background-size: 1000px 1000px;
}
.main{

	background-color: white;
	flex-basis: 70%;
	padding: 20px 20px 20px 20px;
}
.fakeimg{
	background-color: #a9a9a9;
	padding: 20px 20px 20px 20px;
}
