img
{
	display: flex;
	align-items: center;
}
header{
	display: flex;
	background-image: url(images/header-bg.gif) ;
	background-repeat: repeat;
	background-origin: padding-box;
	color: white;
	text-align: center;
	font-size: 56px;
	font-family: DejaVu Sans Mono, monospace;
	align-items: center;

}	
header img
{
	object-fit: cover;
}
footer{
	background-color: #ddd;
	text-align: center;
	margin-bottom: auto;
	padding: 20px;
}
 nav {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: row;
 	background: #3083ff;
 }
a{
	color: white;
	padding: 14px 20px 14px 20px;
	text-align: center;
	text-decoration: none;
}
a:hover{
	background-color: #003a91;
	color: white;
	vertical-align: middle;
}
section{
	display: flex;
	flex-wrap: no-wrap;
}
body
{
	background-image: url(images/body-bg.png);
	background-repeat: repeat;
	background-size: 1000px 1000px;
	padding: 20px 20px 20px 20px;
	border: 0;
	margin: 0;
	background-color: #3083ff;
}
.main{
	background-color: white;
	padding: 20px 20px 20px 20px;
	font-size: 18px;
	height: fit-content;
	font-family: DejaVu Sans Mono, monospace;
	width: 80%;
}

#mainText{
	background-color: #3083ff;
	width: 95%;
	height: 50px;
	padding: 20px 20px 0px 20px;
}
.diff{
	background-color: transparent;
		flex-basis: 20px; 
}
.history
{
	background-color: white;
	align-items: center;
	text-align: center;
	position-right: 0px; 
}

 @media screen and (max-width: 900px) {
    nav{   
        flex-direction: column;
    }
    .main {
 		width: 90%;
    }
	header
	{
		font-size: 10pt;
	}

	section
	{
		 flex-direction: column;
	}
	header img 
	{
		width: 50%;
		height: 50%;
	}
}
 @media screen and (max-width: 1300px) 
 {
 	header
	{
		font-size: 25pt;
	}
		header img 
	{
		width: 40%;
		height: 40%;
	}
 }
